html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

Body {
  font-family: "Lato";
  color: #222;
  line-height: 1.5;
  margin: 0 20% 0 20%;
}

nav ul{
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: center;
  padding: 1.25em 0 1.25em 0;
}

nav {
  background-color: #000;
  position: fixed;
  width: 60%;
}

nav ul li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 0 .5em;
}

nav ul li a:hover {
  text-decoration: underline;
}

h1 {
  margin: 0 auto;
  width: 100%;
  height: 50vh;
  background-image: url("/Users/dillonhamblin/Creative Cloud Files/Fall 2022/Web Design 2/Week 3/profile-page/images/Buses.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  text-align: center;
  font-family: 'Bungee Spice';
  font-size: 3em;
  padding-top: 1.5em;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  grid-template-rows: auto;
}

div:nth-child(1) {
  grid-column: span 3;
}

img {
  max-width: 100%;
  height: auto;
  border: 3px solid #000;
  border-radius: 2%;
}

.mywork {
  grid-column: span 3;
  margin: 0;
}

article {
  margin: 0 0 1em 1em;
}

.profile-pic {
  margin: 1em;
  max-width: 30%;
  border-radius: 20%;
  border: 3px solid #000;
}

.flex {
  background-color: #dadada;
  display: flex;
  gap: .5em;
  align-items: center;
}

.portfolio:hover img{
  transform: scale(150%);
  transition: transform .4s;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  margin-top: 2em;
}
